*{
    margin: 0px;
}
h2 {
/*     margin-bottom: 10px; */
    text-decoration: underline; 
}

div{
    box-sizing: border-box;
}

/* Grid layout */
.grid-container > div {
    background-color: #f5ebe0;
    text-align: center;
    padding: 10px 20px;
    /* font-size: 30px; */
}

/* Left grid */
.list {
    overflow: hidden;
    text-align: left;
    position: relative;
    padding-bottom: 70px;
}
.list > h2 {
    margin-bottom: 15px;
}
.list > button {
    position: absolute;
    top: 5px;
    right: 0px;
    border-radius: 3;
    font-size: 30px;
    padding: 5px 0;
    height: 35px;
    width: 25px;
    background-color: #d66536;
}

/* Middle grid */
.meatings {
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
}

/* Styling scrolbar */
::-webkit-scrollbar { /* width */
    width: 4px;
}
::-webkit-scrollbar-track { /* Track */
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb { /* Handle */
    background: #888; 
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555; 
}
