body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Table {
  background-color: #edccb7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.OtherPage {
  background-color: #f5ebe0;
  width: 17%;
  height: 80%;
  box-shadow: 10px 10px 10px gray;
}

.Binder {
  background-color: #d66536;
  width: 3%;
  height: 80%;
  box-shadow: 10px 10px 10px gray;
  border-radius: 3px 3px 3px 3px;
}

.Intro_Logo {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.SignUpText{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Page {
  background-color: #f5ebe0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 80%;
  box-shadow: 10px 10px 10px gray;
  border-radius: 3px 3px 3px 3px;
}

.Table#SignUpPage{
  flex-direction: row-reverse;
}

.LoginFields {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  gap: 4px;
}

.PageButtons{
  display: flex;
  justify-content: space-between;
  height: 6%;
}

.leftButton, .rightButton{
  width: 40%;
  max-width: 150px;
}

.Eraser{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 2%;
  height: 3%;
}

.Tip{
  width: 10px;
  height: 10px;
  color: white;
  z-index: 1;
}

Base{
  width: 10px;
  height: 10px;
  color: red;
  z-index: 1;
}
